<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("_externalLink.ejs")%>

</head>

<body>
    <!-- Start Top Nav -->
    <%- include("_navbar.ejs")%>
        <!-- Modal -->


        <!-- Start Banner Hero -->
        <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./assets/img/banner_img_01.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 " style="color: #279698; "><b>Info-Shop</b> eCommerce</h1>
                                    <h3 class="h2">This free website for us </h3>
                                    <p>
                                        Perfect-Place is an eCommerce website created by Harshvardhan Singh Rajput.
                                       Try this for best experience and lower price rates . we have multiple offers for customer .
                                        <!-- <a rel="sponsored" class="text-success"
                                            href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                                        Image credits go to <a rel="sponsored" class="text-success"
                                            href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                        <a rel="sponsored" class="text-success" href="https://unsplash.com/"
                                            target="_blank">Unsplash</a> and
                                        <a rel="sponsored" class="text-success" href="https://icons8.com/"
                                            target="_blank">Icons 8</a>. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h1 class="h1">Proident occaecat</h1>
                                    <h3 class="h2">Aliquip ex ea commodo consequat</h3>
                                    <p>
                                        we have great deals for you just visit our site and go check it out , don't waste time because
                                        You are <strong>Important</strong> we don't want to lose your valueable imputs ............. customers are the soul of our buiseness
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h1 class="h1">Repr in voluptate</h1>
                                    <h3 class="h2">Ullamco laboris nisi ut </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, please make a small contribution via PayPal
                                        or tell your friends about our website. Thank you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
                role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
                role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <!-- End Banner Hero -->


        <!-- Start Categories of The Month -->
        <section class="container py-5">
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Categories of The Month</h1>
                    <p>
                       we have multiple offers for this month go and check it out , you will find all the offer.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                    <h5 class="text-center mt-3 mb-3">Watches</h5>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
            </div>
        </section>
        <!-- End Categories of The Month -->


        <!-- Start Featured Product -->
        <section class="bg-light">
            <div class="container py-5">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Featured Product</h1>
                        <p>
                            Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between px-3">
                    <% products.map((product,index)=>{%>
                      

                        <div id="<%= product.id %>" class="col-3 card mb-5 mx-2 px-0 py-0 box" style="width: 14rem;">
                            <div class="rotate">
                                <div class="box-content bts1">
                                    <div class="box-front">
                                        <img id="cardimg" src="<%= product.thumbnail %>"
                                            class="card-img-top imgzoom" style="height:30vh" alt="...">
                                    </div>
                                    <div class="box-back">
                                        <p><%= product.description.substring(0,45)%></p>
                                        <a href="/viewmore/<%= product.id %>" >View More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between ratings">
                                    <li>
                                       <% if(product.rating){
                                          var stars = product.rating*1 / 1
                                       }
                                         if(product.rating%1 >= 0.5){
                                            var halfstar = 1;
                                         }
                                       
                                       %>
                                       <%for(let i = 1 ; i<= stars ; i++){ %>

                                        <i class="text-warning fa fa-star"></i>
                                        <%}%>
                                        <%for(let i = 1 ; i<= halfstar ; i++){ %>

                                            <i class="text-warning fa fa-star-half"></i>
                                      <%}%>
                                       
                                    </li>
                                    <li class="text-muted text-right"><%=product.rating%></li>
                                </ul>
                               
                                <h6 class="card-title"><%= product.title %></h6>
                                <p class="card-text"><%="₹"+product.price%></p>
                                <%if(currentUser.userId){%>
                                <a  onclick=" addToCarts('<%= currentUser.userId %>','<%= product.id %>')" id="a<%=product.id%>"><button class="button-57"
                                        id="button-57<%=product.id%>" role="button"><span id="spanFirst<%=product.id%>" class="text"><i
                                                class="fas fa-shopping-cart"></i> ADD TO CART</span><span id="spanLast<%=product.id%>"><i
                                                class="fas fa-shopping-cart"></i> CART</span></button></a>
                                    
                                <%}else{%>    
                                    <a href='/signin' onclick=" addToCart('<%= product.id %>')"><button class="button-57"
                                        id="button-57<%=product.id%>" role="button"><span id="spanFirst<%=product.id%>" class="text"><i
                                                class="fas fa-shopping-cart"></i> ADD TO CART</span><span id="spanLast<%=product.id%>"><i
                                                class="fas fa-shopping-cart"></i> CART</span></button></a>    
                               <%}%>                  
                            </div>
                            <div class="cross"><a onclick="myFunction('<%= product.id %>')" class="btn btn-danger bt2">✘</a></div>
                        </div>

                        <% }) %>
                        

                </div>
            </div>

        </section>
        
        <%- include("_footer.ejs")%>

            <%- include("_externalScripts.ejs")%>

           

        <script>

           

        //   if('<%=currentUser.userId%>'){
        //     addToCarts('<%=currentUser.userId%>');
        //   }

        //     function addToCarts(userId,productId){
        //       var xhttp = new XMLHttpRequest(); 
        //       if(productId)
        //         xhttp.open("GET","/cart/addToCart/"+userId+"/"+productId,true);
        //       else
        //         xhttp.open("GET","/cart/loadCarts/"+userId,true);

        //       xhttp.send();
        //       xhttp.onreadystatechange = function(){
        //       if(xhttp.readyState == 4){
        //         let data = JSON.parse(xhttp.responseText);
        //         document.getElementById("totalcart").innerHTML=""+data.length;
        //         for(let items of data){
        //           addToCart(items.id)
                  
        //         }
        //       }
        //     }
        //   }


        //     function addToCart(id){
        //       var element = document.getElementById("button-57"+id);
        //       var a = document.getElementById("a"+id);
        //       var spanf = document.getElementById("spanFirst"+id);
        //       var spanl = document.getElementById("spanLast"+id);
        //       element.style.backgroundColor="#046A38";
        //       spanf.innerHTML="ADDED";
        //       spanl.innerHTML="GO TO CART";
        //       a.href = "/cart/goToCart/<%=currentUser.userId%>"
              
        // }

        //     var totalCart = document.getElementById(totalCart);

        //     function myFunction(id) {
        //         var ele = document.getElementById(id);
        //         ele.remove();
        //     }

        </script>        
</body>

